/*===font family used==*/
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*===general css===*/
body {
    position: relative;
    font-family: Montserrat-Regular;
}
/*===css stsrts===*/
.hero-section {
    background: #f7f6ff;
    text-align: center;
    padding: 50px 0px 0px;
}
.hero-section .title-section p {
    font-family: Montserrat-Medium;
    font-size: 24px;
    color: #342a80;
    margin-bottom: 50px;
}
.hero-section .title-section .section-heading {
    font-family: Montserrat-Bold;
    color: #342a80;
    margin-bottom: 0px;
}
/*.hero-section .title-section .progress {
    padding: 25px;
    max-width: 950px;
    margin: 20px auto;
    border-radius: 0;
    background-image: linear-gradient(55deg, rgb(255, 255, 255) 40%, rgba(247, 246, 255));
    border: 0px;
}*/
.title-section svg {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}
/*====work in progress section==*/
.work-progress-section {
    padding: 135px 0px 90px;
}
.work-progress-section .info-section-wrapper {
    background: #ffedea;
    max-width: 630px;
    margin: 0 auto;
    border-radius: 10px;
}
.work-progress-section .info-section-wrapper .doodle-image-section {
    position: relative;
}
.work-progress-section .info-section-wrapper .doodle-image-section svg {
    position: absolute;
    left: -117px;
    top: -125px;
    max-width: 100%;
    height: auto;
}
.work-progress-section .info-section {
    padding: 25px 0px 30px 220px;
}
.work-progress-section .info-section h2 {
    font-family: Montserrat-Bold;
    color: #342a80;
    margin: 0;
}
.work-progress-section .info-section p {
    font-size: 14px;
    color: #342a80;
    margin: 0;
}
.footer {
    padding-top: 100px;
}
.footer p {
    color: #342a80;
}
/*===media queries===*/
@media only screen and (max-width: 767px){
    .work-progress-section .info-section h2{
        font-size: 18px;
    }
    .work-progress-section .info-section p{
        font-size: 12px;
        margin-top: 10px;
    }
    .hero-section .title-section .section-heading{
        font-size: 24px;
    }
    .hero-section .title-section p{
        margin-bottom: 30px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 475px){
    .work-progress-section .info-section-wrapper .doodle-image-section svg{
        left: unset;
        top: -135px;
    }
    .work-progress-section .info-section {
        padding: 170px 10px 30px 10px;
        text-align: center;
    }
}
